

.logo{
	width: 140px;
	padding-bottom: 0px;
	/*padding-top: 270px;*/
}


#name{
	letter-spacing: 8px;
	display: inline-block;
}

#tagline{
	font-size: 16px;
	margin-top: -15px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}

h1{
	font-size: 24px;
	font-weight: 200;

}

.cover{
	text-align: center;
}

.cover-container{
	height: 100vh;
	display: table;
}

.container{
	 margin-left: 10%;
    margin-right: 10%;
}

.inner{
	text-align: center;
  display: table-cell;
  vertical-align: middle;
}


.btn-default, .btn-lg, .btn-default:focus{
	border-radius: 30px;
	border: #64ffeb;
	width: 200px;
	height: 50px;
	font-weight: 300!important;
	background: #ff3265;
	font-size: 12px;
	padding-top: 16px;
	color: #fff;
	transition: all 0.2s ease;
	
	
}

.btn-default:hover, .btn-lg:hover{
	background:#ee315f;
	transition: all 0.2s ease;
	cursor: pointer;
	color: #fff;
	width: 220px;
	height: 60px;

}



.lead{
	margin-top: 30px;
}


.cover-heading{
	padding-bottom: 0px;
}

.splash{
	
	position: fixed;
	z-index: -100;
	width: auto;
	overflow: hidden;
	top:-30%;
	left: -5%;


}



canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
  position: fixed;
	opacity: .1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	top: 0;
	left: 0;
 
}


.contact{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	/*background: rgba(255,50,101,1);*/
	background: #f7f7f7;
	min-height: 500px;

}


.bottom{
	 background: rgba(255,255,255,.98);
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 500px;
}

.bottom h1{
	margin: 10px;
	color: rgba(0,0,0,.7);
	font-size: 20px;
	padding-bottom: 90px;
	text-align: center;
}

.projectContainer{
	width: 31%;
	height: auto;
	margin: 10px;
	display: inline-block;
	position: relative;
}

.project{
	width: 100%;
	height: 100%;
}

.info{
	background: #ff3265;
	position: absolute;
	top: 0;
	
	-webkit-opacity: 0;
  	-moz-opacity: 0;
 	 opacity: 0;
 	 -webkit-transition: all .3s ease;
	  -moz-transition: all .3s ease;
	  -ms-transition: all .3s ease;
	  -o-transition: all .3s ease;
	  transition: all .3s ease;

}

.info:hover{
	-webkit-opacity: .9;
  	-moz-opacity: .9;
  	opacity: .9;


}

.info p{
	text-align: center;
    position: absolute;
    top: 46%;
    margin: 0;
    font-size: 23px;
	width: 100%;
}

@media only screen and (max-width: 560px){
	.splash{
		height: 100%;
		width: auto;
		left: -60%;
		top: 0;
	}
	.cover-container{
		margin: 0;
	}

	.container{
		padding-left: 30px;
		padding-right: 30px;
	}

	.bottom{
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.project{
		width:100%;
		padding-bottom: 30px;
	}

	p{
		font-weight: 300;
	}

	#particles-js{
		
	}
}

@media (min-width:768px) {
  .container {
    
  }
}



@media (min-width:1000px) {
  .container {
  
  }
}

