.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
  position: relative;
  min-height: 10px;
  padding: 0;
}



p{
	color: rgba(0,0,0,.8);
	font-weight: 300;
	line-height: 25px;
}

h1{
	color: rgba(0,0,0,.8);
	font-size: 22px;
	font-weight: 400;
	
	
}

/*.nav{
	padding-bottom: 40px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
	margin-bottom: 50px;
}

.nav a{
	
	color: rgba(0,0,0,.8);
	
	
}

.nav a:hover{
	
	color: #000;
}
*/

.navbar-default {
	position: relative;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
	margin-bottom: 40px;

}

.navbar-default .navbar-nav>li>a {
  color: rgba(0,0,0,.8);
  
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000;
  
}

.navbar-default .navbar-nav>li>a:focus {
  color: #000;
  
}

.navbar-default .navbar-nav>.active>a{
	color: #000;
	border-color: #000;

}

.navbar-default .navbar-nav>.active>a:hover{
	color: #000;

}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #000;

}




.gallery{
	margin: 0;
	padding-bottom: 40px;
	width: 100%;
}

.projectDetails{
	padding-left: 40px;
}



.btn-default, .btn-lg, .btn-default:focus{
	border-radius: 30px;
  	border-style: solid;
  	border-width: 1px;
  	border-color: rgba(0,0,0,.8);
	color: rgba(0,0,0,.8);
	background: #fff;

	
	
}

.btn-default:hover, .btn-lg:hover{
	background: rgba(0,0,0,.8);
	border:none;
	color: #fff;
	

}

#mywork{
	margin-top: 100px;
}

@media only screen and (max-width: 560px){
	.projectDetails{
		padding-left: 0;
	}

	.btn-default, .btn-lg, .btn-default:focus{
		margin: 0 auto;
		display: block;
	}

	.navbar-default {
		  
		  background-color: rgba(0,0,0,0);
		  
	}

		.gallery{
	
	padding-bottom: 20px;
	
	}
	p{
		font-weight: 400;
	}
	a{
		font-weight: 400;
	}

}
