
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 10px;
  padding: 0;
}

body{
	background: #fff;
}


p{
	color: rgba(0,0,0,.8);
	font-weight: 300;
	line-height: 25px;
	
	
	margin-top: 30px;
	
	font-size: 16px;
}

.lead{
	text-align: center;
}



h1{
	color: rgba(0,0,0,.8);
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1px;

	
	
}

.links{
	margin: 0 auto;
	display: block;
	margin-top: 40px;
	text-align: center;
	
}

.projectDetails .page-link, .projectDetails .page-link:hover, .projectDetails .page-link:focus{
	text-transform: inherit;
	margin-left: 0;
	margin-right: 4px;
	margin-bottom: 0;
	padding-bottom: 0;
	border:none;
	font-weight: 400;
	letter-spacing: inherit;
}

.projectDetails .page-link:hover{
	letter-spacing: inherit;
}


.page-link, .page-link:hover, .page-link:focus{
	letter-spacing: inherit;
	  font-size: 15px;
	  font-weight: 400;
	 margin-bottom: 10px;
	  padding-bottom: 3px;
	  text-transform: uppercase;
	  display: inline-block;
	  margin-left: 20px;
	margin-right: 20px;
	
}

.page-link:hover, .page-link:focus{
	letter-spacing: 1px; 


}

#mywork h1{
	font-weight: 300;
}



.navbar-default {
	position: relative;
	  border-bottom: solid 1px #eee;
	margin-bottom: 40px;

}

.navbar-default .navbar-nav>li>a {
  color: rgba(0,0,0,.4);
  
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000;
  
}

.navbar-default .navbar-nav>li>a:focus {
  color: #000;
  
}

.navbar-default .navbar-nav>.active>a{
	color: #000;
	border-color: #000;

}

.navbar-default .navbar-nav>.active>a:hover{
	color: #000;

}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #000;

}


.imgBorder{
	border: 1px solid #eee;
}

.gallery{
	margin: 0;
	padding-bottom: 60px;
	width: 100%;
}

.gallery-mobile{
	margin: 0;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right:20px;
}

.projectDetails{
	/*padding-left: 40px;*/
	padding-bottom: 30px;
	padding-top: 50px;
}

.category{
	font-size:14px; 
	color:rgba(0,0,0,.5); 
	letter-spacing:2px;
	margin-top: 0;
}



.btn-default, .btn-lg, .btn-default:focus{
	border-radius: 30px;
  	border-style: solid;
  	font-weight: 400;
	border-width: 1px;
  	border-color: rgba(0,0,0,.8);
	color: rgba(0,0,0,.8);
	background: #fff;

	
	
}

.btn-default:hover, .btn-lg:hover{
	background: rgba(0,0,0,.8);
	border:none;
	color: #fff;
	margin: 0 auto;
		display: block;
	

}

#mywork{
	margin-top: 100px;
}

@media only screen and (max-width: 560px){
	.projectDetails{
		padding-left: 0;
	}

	.btn-default, .btn-lg, .btn-default:focus{
		margin: 0 auto;
		display: block;
	}

	.navbar-default {
		  margin-bottom: 20px;
		  background-color: rgba(0,0,0,0);
		  
	}

		.gallery{
	
	padding-bottom: 20px;
	
	}
	p{
		
		margin-left: 0;
		margin-right: 0;
		text-align: inherit;
	}
	

}
